## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,current Description
0,0,Kavaratti,10.5669,72.6420,81.27,77,61,17.96,IN,broken clouds
1,1,Cherskiy,68.7500,161.3000,58.28,77,100,10.07,RU,light rain
2,2,Cape Town,-33.9258,18.4232,53.11,86,0,3.44,ZA,clear sky
3,3,Saint George,37.1041,-113.5841,82.99,52,0,4.61,US,clear sky
4,4,Ornskoldsvik,63.2909,18.7153,54.55,100,0,4.61,SE,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,current Description
0,0,Kavaratti,10.5669,72.6420,81.27,77,61,17.96,IN,broken clouds
3,3,Saint George,37.1041,-113.5841,82.99,52,0,4.61,US,clear sky
15,15,Tecoanapa,16.5167,-98.7500,80.04,80,31,4.72,MX,scattered clouds
19,19,Dingle,10.9995,122.6711,77.22,93,100,9.35,PH,moderate rain
27,27,Riyadh,24.6877,46.7219,87.94,13,62,2.48,SA,broken clouds
30,30,Morant Bay,17.8815,-76.4093,82.02,82,17,7.83,JM,few clouds
38,38,Hithadhoo,-0.6000,73.0833,82.00,77,54,13.89,MV,broken clouds
39,39,Hambantota,6.1241,81.1185,88.14,70,20,18.41,LK,few clouds
43,43,San Patricio,28.0170,-97.5169,85.89,79,89,12.66,US,overcast clouds
44,44,Oistins,13.0667,-59.5333,80.69,83,40,11.50,BB,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
current Description    0
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# 5b. Create a new column "Hotel Name"
hotel_df = clean_df[["City", "Country", "current Description", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,current Description,Max Temp,Lat,Lng,Hotel Name
0,Kavaratti,IN,broken clouds,81.27,10.5669,72.6420,
3,Saint George,US,clear sky,82.99,37.1041,-113.5841,
15,Tecoanapa,MX,scattered clouds,80.04,16.5167,-98.7500,
19,Dingle,PH,moderate rain,77.22,10.9995,122.6711,
27,Riyadh,SA,broken clouds,87.94,24.6877,46.7219,
30,Morant Bay,JM,few clouds,82.02,17.8815,-76.4093,
38,Hithadhoo,MV,broken clouds,82.00,-0.6000,73.0833,
39,Hambantota,LK,few clouds,88.14,6.1241,81.1185,
43,San Patricio,US,overcast clouds,85.89,28.0170,-97.5169,
44,Oistins,BB,scattered clouds,80.69,13.0667,-59.5333,

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 6a Set parameters to search for a hotel with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude from the Dataframe
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
 hotel_df

,City,Country,current Description,Max Temp,Lat,Lng,Hotel Name
0,Kavaratti,IN,broken clouds,81.27,10.5669,72.6420,Green leaf
3,Saint George,US,clear sky,82.99,37.1041,-113.5841,Best Western Plus Abbey Inn
15,Tecoanapa,MX,scattered clouds,80.04,16.5167,-98.7500,Hotel Manglares
19,Dingle,PH,moderate rain,77.22,10.9995,122.6711,SEGAYA PROPERTY
27,Riyadh,SA,broken clouds,87.94,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
...,...,...,...,...,...,...,...
664,Hope,US,overcast clouds,75.25,33.6671,-93.5916,Best Western Hope
666,Newark,US,overcast clouds,75.92,40.7357,-74.1724,"Robert Treat Hotel, BW Premier Collection"
669,Oussouye,SN,overcast clouds,75.70,12.4850,-16.5469,Auberge du Routard
670,Sibolga,ID,overcast clouds,86.34,1.7427,98.7792,Hotel Syariah CN Darussalam
674,La Asuncion,VE,overcast clouds,77.79,11.0333,-63.8628,Colinas de Matasiete

In [11]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head

<bound method NDFrame.head of              City Country current Description  Max Temp      Lat       Lng  \
0       Kavaratti      IN       broken clouds     81.27  10.5669   72.6420
3    Saint George      US           clear sky     82.99  37.1041 -113.5841
15      Tecoanapa      MX    scattered clouds     80.04  16.5167  -98.7500
19         Dingle      PH       moderate rain     77.22  10.9995  122.6711
27         Riyadh      SA       broken clouds     87.94  24.6877   46.7219
..            ...     ...                 ...       ...      ...       ...
664          Hope      US     overcast clouds     75.25  33.6671  -93.5916
666        Newark      US     overcast clouds     75.92  40.7357  -74.1724
669      Oussouye      SN     overcast clouds     75.70  12.4850  -16.5469
670       Sibolga      ID     overcast clouds     86.34   1.7427   98.7792
674   La Asuncion      VE     overcast clouds     77.79  11.0333  -63.8628

                                    Hotel Name
0                                   Green leaf
3                  Best Western Plus Abbey Inn
15                             Hotel Manglares
19                             SEGAYA PROPERTY
27       InterContinental Riyadh, an IHG Hotel
..                                         ...
664                          Best Western Hope
666  Robert Treat Hotel, BW Premier Collection
669                         Auberge du Routard
670                Hotel Syariah CN Darussalam
674                       Colinas de Matasiete

[200 rows x 7 columns]>

In [12]:
hotel_df

,City,Country,current Description,Max Temp,Lat,Lng,Hotel Name
0,Kavaratti,IN,broken clouds,81.27,10.5669,72.6420,Green leaf
3,Saint George,US,clear sky,82.99,37.1041,-113.5841,Best Western Plus Abbey Inn
15,Tecoanapa,MX,scattered clouds,80.04,16.5167,-98.7500,Hotel Manglares
19,Dingle,PH,moderate rain,77.22,10.9995,122.6711,SEGAYA PROPERTY
27,Riyadh,SA,broken clouds,87.94,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
...,...,...,...,...,...,...,...
664,Hope,US,overcast clouds,75.25,33.6671,-93.5916,Best Western Hope
666,Newark,US,overcast clouds,75.92,40.7357,-74.1724,"Robert Treat Hotel, BW Premier Collection"
669,Oussouye,SN,overcast clouds,75.70,12.4850,-16.5469,Auberge du Routard
670,Sibolga,ID,overcast clouds,86.34,1.7427,98.7792,Hotel Syariah CN Darussalam
674,La Asuncion,VE,overcast clouds,77.79,11.0333,-63.8628,Colinas de Matasiete

In [13]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.CSV'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>current weather</dt><dd>{current Description} and {Max Temp} °F</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))